*/.*
terraform/*.tfstate*
*.pem
terraform/dev.tfvars
venv
.venv
shared
__pycache__
.env
bd/*
*.egg-info
build/*
terraform/**/*.hcl
terraform/**/*.tfvars
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/*.txt
terraform/.terraform/*
terraform/**/.terraform/*
.env.telegrambot
